<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> Admin</title>
    <!-- Bootstrap core CSS-->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/Content/sb-admin.css" rel="stylesheet" />
    <link href="~/Content/bootstrap1.css" rel="stylesheet" />
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="index.html">Quyết Tiến - Admin</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Sản Phẩm">
                    <a class="nav-link" href="/Admin/ProductAdmin">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Sản Phẩm</span>
                    </a>
                </li>
<<<<<<< HEAD
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tài Khoản">
                    <a class="nav-link" href="/Admin/ProductType">
                        <i class="fa fa-fw fa-link"></i>
                        <span class="nav-link-text">Loại sản phẩm</span>
=======
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Danh Mục">
                    <a class="nav-link" href="/Admin/ProductType">
                        <i class="fa fa-fw fa-area-chart"></i>
                        <span class="nav-link-text">Danh Mục</span>
>>>>>>> 966e81826e24a555c6839cf21a0bc69b10353c5a
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Hóa Đơn">
                    <a class="nav-link" href="/Admin/CashbillAdmin">
                        <i class="fa fa-fw fa-area-chart"></i>
                        <span class="nav-link-text">Hóa Đơn</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Trả Góp">
                    <a class="nav-link" href="/Admin/InstallmentBills">
                        <i class="fa fa-fw fa-table"></i>
                        <span class="nav-link-text">Trả Góp</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tài Khoản">
                    <a class="nav-link" href="/Admin/Account">
                        <i class="fa fa-fw fa-link"></i>
                        <span class="nav-link-text">Tài Khoản</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0 mr-lg-2">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="fa fa-fw fa-address-card"></i>
                        @if (Session["FullName"] != null)
                        {
                            @Session["FullName"].ToString();
                        }
                        else
                        {

                        }
                    </a>
                </li>
                <li class="nav-item">
                    
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-fw fa-sign-out"></i>
                        Logout


                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content-wrapper">
        <div style="margin: 10px">

            @RenderBody()

        </div>
        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © Your Website 2017</small>
                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        @using (Html.BeginForm("Logout", "ProductAdmin", FormMethod.Post))
                        {
                            <input type="submit" value="Logout" class="btn btn-default" />
                        }
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery.easing.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="~/Scripts/dataTables.bootstrap4.js"></script>
    <script src="~/Scripts/sb-admin.min.js"></script>
    <script src="~/Scripts/sb-admin-datatables.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
