@model DienMayQT.Models.ProductType

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Xóa loại sản phẩm</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã loại Sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductTypeCode)
        </dd>

        <dt>
            Tên loại Sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductTypeName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>
